[Unit]
Description=APA102 smart LED driver
StartLimitIntervalSec=0

[Service]
User=root
Restart=always
Environment=PYTHONUNBUFFERED=true
WatchdogSec=30
RestartSec=5
ExecStart=/usr/local/bin/apa102.py

[Install]
WantedBy=multi-user.target
